.page {
  display: flex;
  flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}

.sidebar, .body {
  flex-basis: 0;
}
.sidebar {
  flex-grow: 3;
}
.body {
  margin-left: 1em;
  flex-grow: 4;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  max-width: var(--maxWidth);
  padding: 1rem 0.75rem;
}

.pageContent {
  margin: 1rem 0;
}

.body {

  /* handy for content */
  & img {
    max-width: 100%;
  }
}
